<style>
    .cust-foot-data1 {
        color:black;
        font-style: normal;
    }

    .contact_info_data{
        margin-top: 0rem;
        padding: 0rem;
        margin-bottom: 1rem;
        color:black;
        line-height:0px;
    }
</style>

<footer class="text-center text-lg-start pt-2 pb-1s">

    <div class="cust-foot-data1 pt-2 pb-1 text-center">
        <h3>Contact Information</h3>
        <p>
            <b>Email:</b> vibhav.singh0v@gmail.com</p>
            <a class="contact_info_data" href="https://github.com/VibhavSingh1"><b>GitHub</b></a>|
            <a class="contact_info_data" href="https://www.linkedin.com/in/vibhav-singh-001/"><b>LinkedIn</b></a>
        </p>

    </div>

</footer>
