
<style>
    .head-button {
        font-family: "Apple Chancery", cursive;
        font-weight: bold;
        font-style: normal;
        font-size: 65px;
		font-smooth: 100;
        line-height: 1.5;
		text-shadow: 2px 2px 2px rgb(36, 36, 36);
        color: black;

    }
    .head-button:hover{
        color: black;
    }

    .header2{
        font-size: 55px;
        line-height: 0;
		font-weight: bold;
    }

	.nav-link-cust{
		font-size: 30px;
	}
</style>

<div>
  <nav class="navbar navbar-expand-sm " style="background-color: rgb(254, 254, 254);">
    <div class="container-fluid">

  		<a class="navbar-brand head-button ps-3 pb-3 pt-0" href="{{ url_for('index') }}">
  			Wage
  			<h3 class="header2 pb-2">Scale</h3>
  		</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto nav-link-cust">
          <li class="nav-item ps-4 ms-auto me-3" >
            <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
          </li>

          <li class="nav-item ps-4 ms-auto me-3">
            <a class="nav-link" href="{{ url_for('about') }}">About Us</a>
          </li>

          <li class="nav-item ps-4 ms-auto me-3">
            <a class="nav-link" href="{{ url_for('about') }}">Services</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
