{% extends "layout.html" %}

{% block content %}

<div class="container-liquid mt-5">
    <style>
        .fakeimg {
          height: 250px;
          background: #aaa;
        }
    </style>

    <!-- Divide the mid space into two parts/rows-->
    <!-- Upper body -->
    <div class="row" id="body-row-1">
      <div class="col-sm-9">
        <div class="fakeimg">Fake Image</div>
        <hr class="d-sm-none">
      </div>

      <div class="col-sm-3 me-0">
        <div class="fakeimg">Fake Image</div>
      </div>
    </div> <!-- body-row-1 end -->

    <!-- lower body -->
    <div class="row mt-3 mb-5 ms-2 me-2" id="body-row-2">
      <div class="fakeimg">Fake Image</div>
    </div> <!-- body-row-2 end -->



</div>

{% endblock %}
